.ooyalaplayer {
    position: absolute;
}

.transcript-container {
    position: relative;
    margin-top: 10px;
    height: auto;
}

.ooyala-player-container {
    position: relative;
    width: 640px;
    min-height: 360px;
    height:auto;
}

.ooyala-overlay {
    position: absolute;
    top: 50px;
    width: 590px;
    height:130px;
    color: #0384CE;
    z-index:20000;
}
