.ooyala-player-xblock-wrapper * {
    box-sizing: border-box;
}

.ooyala-player-xblock-wrapper .hide {
    display: none;
}

.ooyala-player-xblock-wrapper .ooyalaplayer {
    /*position: absolute;*/
}

.ooyala-player-xblock-wrapper .ooyala-player-container {
    position: relative;
    height:auto;
    z-index:10;
}

.ooyala-player-xblock-wrapper .ooyala-overlay > div {
    position: absolute;
    top:12px;
    left:12px;
    height:auto;
    z-index:20000;
    padding:10px 10px;
    background:#FAFAFA;
    max-width:300px;
    border-radius:10px;
    opacity:0.4;
    font-family:"Open Sans", sans-serif;
    font-size:14px;
}


.p3sdk-interactive-transcript-content{
    clear: both;
    width: 100%;
}

.p3sdk-interactive-transcript-search-hit {
  background: #000000;
  color: #ffffff;
}

.p3sdk-interactive-transcript-collapse-visible {
    font-size: 18px;
    height: 30px;
    margin: 5px;
    text-align: right;
}

.p3sdk-interactive-transcript-collapse.p3sdk-collapse-onload.icon-expand {
    font-size: 18px;
}

.p3sdk-container .p3sdk-interactive-transcript-searchbox {
    display: inline;
    font-size: 12px;
    height: 30px;
    width: 20%;
}

select.p3sdk-interactive-transcript-track-select {
    width: 30%;
}

.op-div {
    width: 70%;
    float: right;
    text-align: right;
}

.op-div ul{
    float: right;
}

.op-div ul li{
    float: right;
    margin-right: 15px;
    list-style: none;
}

.print-transcript-btn, .p3sdk-interactive-transcript-download{
    margin: 10px;
}

/*.print-transcript-btn{*/
    /*cursor: pointer;*/
    /*margin: 0.3em !important;*/
/*}*/
