.ooyala-player-xblock-wrapper * {
    box-sizing: border-box;
}

.ooyala-player-xblock-wrapper .hide {
    display: none;
}

.ooyala-player-xblock-wrapper .ooyalaplayer {
    /*position: absolute;*/
}

.ooyala-player-xblock-wrapper .ooyala-player-container {
    position: relative;
    height:auto;
    z-index:10;
}

.ooyala-player-xblock-wrapper .ooyala-overlay > div {
    position: absolute;
    top:12px;
    left:12px;
    height:auto;
    z-index:20000;
    padding:10px 10px;
    background:#FAFAFA;
    max-width:300px;
    border-radius:10px;
    opacity:0.4;
    font-family:"Open Sans", sans-serif;
    font-size:14px;
}


.p3sdk-interactive-transcript-content{
    clear: both;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 2;
}

.p3sdk-interactive-transcript-search-hit {
  background: #000000;
  color: #ffffff;
}

.p3sdk-interactive-transcript-collapse-visible {
    font-size: 18px;
    height: 30px;
    text-align: right;
    position: relative;
    margin: 5px 0 5px 5px;
}

.transcript-toggle{
    color: #3384ca;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    line-height: 24px;
}

.transcript-track  {
    color: #3384ca;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.transcript-track.selected{
    color: #868685;
    pointer-events: none;
}

.transcript-download-btn, .print-transcript-btn{
    background: url("../build/assets/images/sprites.png") no-repeat;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 22px;
}

.transcript-download-btn {
    background-position: -312px -13px;
}

.print-transcript-btn{
   background-position: -355px -15px;
}

.transcript-header{
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    padding: 10px 0;
    float: left;
    width: 100%;
}

.transcript-header > ul{
    float: right;
    width: 100%;
}

.transcript-header ul {
    margin: 0;
    padding: 0;
    float: right;
}

.transcript-header li {
    list-style: outside none none;
    float: right;
    margin-bottom: 0 !important;
}

.transcript-header li.search {
    float: left;
}

.transcript-header li > ul > li {
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
}

.language-tracks a{
    cursor: pointer;
}

.fa-2{
    color: #3384ca;
    font-size: 24px;
    line-height: 10px;
}

.fa.transcript-hide{
   vertical-align: bottom;
}

.fa.transcript-show{
    vertical-align: 1px;
}

