.speedButton {
    position:absolute;
    left:0;
    top:5px;
    cursor: default;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#5080CA;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    display:inline-block;
    color:white;
    font-family:sans-serif;
    font-size:15px;
    font-style:normal;
    height:24px;
    line-height:24px;
    width:40px;
    text-decoration:none;
    text-align:center;
}
.speedButton:hover {
    cursor:pointer;
    background-color:#B1C2CC;
}

.speedButton:active {
    position:relative;
    top:1px;
}

.volumeButton {
    position:absolute;
    left:526;
    top:5px;
    background-size:21px 17px !important;
    cursor: pointer;
    background-image: url('https://cdn2.iconfinder.com/data/icons/peppyicons/512/volume-512.png');
}

.speedButton:hover {
    cursor:pointer;
    background-color:#B1C2CC;
}

.speedButton:active {
    position:relative;
    top:1px;
}