<video-js
        id="{{dom_id}}"
        data-account="{{bc_account_id}}"
        data-player="default"
        data-embed="default" controls=""
        data-video-id="{{content_id}}"
        data-complete-percentage="{{complete_percentage}}"
        data-autoplay="{{autoplay}}"
        data-cc-lang="{{cc_lang}}"
        playsinline=""
        width="1000px" height="600px">
</video-js>
<div class="p3sdk-container p3sdk-debug-not hide" player_id="{{dom_id}}" player_type="brightcove">
    {{ transcript|safe }}
</div>
