{% autoescape off %}
<div class="ooyala-player-xblock-wrapper">
    <div class="ooyala-player-container" style='width: {{player_width}}; height: {{player_height}};'>
        <div id='{{dom_id}}' class='ooyalaplayer'
             data-content-id='{{content_id}}'
             data-dom-id='{{dom_id}}'
             data-player-id='{{player_id}}'
             data-transcript-id='{{transcript_file_id}}'
             data-player-token='{{player_token}}'
             >
        </div>
        <div id="ooyala-overlay-container-{{dom_id}}" class="ooyala-overlay"></div>
    </div>

    <!-- Overlays template. These elements are only read from JS (non-visual). -->
    <div class="ooyala-overlays hide">
      {{overlay_fragments|safe}}
    </div>

    <div class="transcript-container-{{dom_id}} frost ice">
        <!-- Do not delete. The two following divs is to get ooyala transcript plugin loading properly in studio -->
        <div id="p3-js-main-root"></div>
        <div id="transcript_{{ transcript_file_id }}"></div>
    </div>
</div>
{% endautoescape %}
