<div class="wrapper-comp-settings is-active" id="settings-tab">
  <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
  <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_display_name">Title</label>
            <input class="input setting-input edit-display-name" id="edit_display_name" value="{{ self.display_name }}" type="text">
          </div>
          <span class="tip setting-help">The title of the Drag and Drop that is displayed to the user</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_content_id">Content Id</label>
            <input class="input setting-input edit-content-id" id="edit_content_id" value="{{ self.content_id }}" type="text">
          </div>
          <span class="tip setting-help">This is the Ooyala Content Identifier</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_transcript_project_id">Transcript Id</label>
            <input class="input setting-input edit-transcript-project-id" id="edit_transcript_project_id" value="{{ self.transcript_project_id }}" type="text">
          </div>
          <span class="tip setting-help">This is the 3Play Transcript Project Identifier</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_transcript_file_id">Transcript Id</label>
            <input class="input setting-input edit-transcript-file-id" id="edit_transcript_file_id" value="{{ self.transcript_file_id }}" type="text">
          </div>
          <span class="tip setting-help">This is the 3Play Transcript File Identifier</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_enable_player_token">Enable Player Token</label>
            <select
               id="edit_enable_player_token"
               class="input setting-input edit-enable-player-token"
               >
              <option value="True" {% if self.enable_player_token %} selected {% endif %}>True</option>
              <option value="False" {% if not self.enable_player_token %} selected {% endif %}>False</option>
            </select>
          </div>
          <span class="tip setting-help">Needed to generate a player token.</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_partner_code">Partner Code</label>
            <input class="input setting-input edit-partner-code" id="edit_partner_code" value="{{ self.partner_code }}" type="text">
          </div>
          <span class="tip setting-help">Needed to generate a player token.</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_api_key">Api Key</label>
            <input class="input setting-input edit-api-key" id="edit_api_key" value="{{ self.api_key }}" type="text">
          </div>
          <span class="tip setting-help">Needed to generate a player token.</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_api_secret_key">Api Secret Key</label>
            <input class="input setting-input edit-api-secret-key" id="edit_api_secret_key" value="{{ self.api_secret_key }}" type="text">
          </div>
          <span class="tip setting-help">Needed to generate a player token.</span>
      </li>
      <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_api_expiration_time">Expiration Time</label>
            <input class="input setting-input edit-expiration-time" id="edit_expiration_time" value="{{ self.expiration_time }}" type="text">
          </div>
          <span class="tip setting-help">Expiration time in seconds. Needed to generate a player token.</span>
      </li>
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-settings is-active" id="settings-tab">
          <label class="label setting-label" for="edit_xml_config">XML Configuration</label>
          <script id="metadata-editor-tpl" type="text/template">// JS crashes when empty //</script>
          <textarea class="block-xml-editor">{{ self.xml_config }}</textarea>
        </div>
      </li>
  </ul>
</div>
<span class="xblock-editor-error-message"></span>
<div class="row module-actions">
    <a href="#" class="save-button action-primary action">Save</a>
    <a href="#" class="cancel-button action">Cancel</a>
</div>
