{% autoescape off %}
<div class="ooyala-player-xblock-wrapper">
    <div class="ooyala-player-container" style='width: {{width}}; height: {{height}};'>
        <div id='{{dom_id}}' class='ooyalaplayer'
             data-content-id='{{content_id}}'
             data-dom-id='{{dom_id}}'
             data-player-id='{{player_id}}'
             data-transcript-id='{{transcript_file_id}}'
             data-player-token='{{player_token}}'
             data-autoplay='{{autoplay}}'
             >
        </div>
        <div id="ooyala-overlay-container-{{dom_id}}" class="ooyala-overlay"></div>
    </div>

    <!-- Overlays template. These elements are only read from JS (non-visual). -->
    <div class="ooyala-overlays hide">
      {{overlay_fragments|safe}}
    </div>

    {% if transcript_content %}
    <div class="transcript-container-{{dom_id}}">
        <div class="transcript-header">
            <a class="show-hide-transcript-btn" >Show transcript</a>
            <a class="print-transcript-btn"><span class="fa fa-print"></span></a>
        </div>
        <div class="transcript-content" style="display: none">{{ transcript_content }}</div>
        <div class="transcript-footer" style="display: none">
            <a class="show-hide-transcript-btn" >Show transcript</a>
            <a class="print-transcript-btn"><span class="fa fa-print"></span></a>
        </div>
    </div>
    {% elif transcript_error %}
        {# Include any transcript error as an HTML comment to help with debugging. #}
        <!-- Transcript error: {{ transcript_error }} -->
    {% endif %}
</div>
{% endautoescape %}
